.roomsPage {
  margin: 2rem;
}

.roomsPageContent {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.roomPage {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.loginPage {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70dvh;
}

.bookingsPage {
  display: flex;
  margin: 2rem;
  justify-content: space-evenly;
}

.updateRoomPage {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.updateBookingPage {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.staffSignupPage {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80dvh;
}

@media (max-width: 1100px) {
  .roomsPage {
    margin: 1rem;
  }
  .roomsPage h2 {
    display: none;
  }
  .roomPage {
    display: block;
    margin-top: 0;
  }
  .bookingsPage {
    margin: 1rem;
    display: block;
  }
  .bookingsPage h2 {
    display: none;
  }
  .updateRoomPage {
    margin-top: 0;
    font-size: 0.7rem;
  }
  .updateBookingPage {
    margin-top: 0;
    font-size: 0.7rem;
  }
  .staffSignupPage {
    font-size: 0.6rem;
    margin: 1rem;
  }
  .loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginPage h1 {
    font-size: 1.6rem;
    margin-top: 4rem;
  }
}
