.roomsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  padding-inline-start: 0;
  width: 100%;
}

.roomsListItem {
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.roomsListItemContent {
  margin: 0 0 0 1rem;
}

.roomsListItemDetails {
  display: flex;
  gap: 1rem;
}

#roomId {
  font-weight: 600;
  margin: 1rem 0 0 0;
}

.managementActions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 1rem 0 0;
}

.createRoomForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: fit-content;
}

.roomInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.roomInput input {
  font-size: 1rem;
  padding: 0.2rem;
  width: max-content;
}

.featureInputField {
  display: flex;
  align-items: center;
}

.addRoomFeatureList {
  margin: 0;
  display: flex;
  gap: 0.5rem;
  padding-inline-start: 0;
  flex-wrap: wrap;
}

.addRoomFeatureList li {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #e5e5e5;
  color: #14213d;
  font-size: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#addFeatureBtn {
  background: none;
  color: #14213d;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  margin: 0;
}

#addFeatureBtn:hover {
  color: #14213dce;
}

#deleteBtn {
  padding: 0;
  font-size: 1rem;
  background: none;
  color: red;
  transition: none;
}

#deleteBtn:hover {
  border-color: #e5e5e5;
  color: rgb(194, 0, 0);
  font-weight: 500;
}

.addRoomFeatureList li p {
  margin: 0;
}

.addRoomActions {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

#clearFormBtn {
  background-color: red;
}

.filterRooms {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.filterInput {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.filterInput select {
  font-size: 0.8rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.roomDetails {
  font-size: 1.5rem;
}

.roomDetails li {
  list-style: circle;
}

.updateRoomForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: fit-content;
}

.updateRoomForm input {
  width: max-content;
  font-size: 1rem;
  padding: 0.2rem;
}

.updateRoomForm h2 {
  margin: 0;
}

.updateActions {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

#cancelUpdate {
  background-color: red;
}

.roomManagementActions {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

#RoomsNavBar {
  display: none;
}

#toggleBookBtn {
  display: none;
}

.roomDetails h1 {
  font-size: 2rem;
}

@media (max-width: 1100px) {
  #RoomsNavBar {
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    color: #ffffff;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0.3rem;
    box-shadow:
      rgba(0, 0, 0, 0.22) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 0.2rem;
  }
  .roomsNavLink {
    position: relative;
    text-decoration: none;
    padding: 0.5rem 0;
    color: #14213d;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .roomsNavLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.05rem;
    background-color: #14213dda;
    border-radius: 0.5rem;
    transition: width 0.3s ease;
  }

  .roomsNavLink.active::after {
    width: 98%;
  }

  .hidden {
    display: none;
  }

  .createRoomForm {
    margin: 0;
  }

  .roomsPageFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .createRoomSection1 {
    display: flex;
    flex-direction: column;
  }

  .roomsListItemContent {
    margin: 0 1rem 0 1rem;
  }

  .roomInput {
    font-size: 1rem;
  }

  .roomInput input {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
  }

  .addRoomFeatureList li p {
    font-size: 0.9rem;
  }

  #deleteBtn {
    font-size: 0.8rem;
  }

  #toggleBookBtn {
    display: flex;
    justify-self: center;
    margin: 1rem;
  }

  .roomDetails {
    font-size: 1.2rem;
  }
  .roomDetails h1 {
    font-size: 1.5rem;
  }
  .updateRoomForm {
    align-items: start;
    padding: 1.5rem;
  }
  .updateRoomForm h2 {
    font-size: 1.1rem;
  }
  .updateRoomSection1 {
    flex-direction: column;
  }
  .updateActions {
    width: 100%;
  }
}

@media (max-width: 515px) {
  .filterRooms {
    flex-direction: column;
  }
}
