:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  background-color: #1a1a1a;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  margin: 0;
}

.navBar {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid white;
}

.navBar nav ul {
  display: flex;
  gap: 5rem;
  font-size: 1.25rem;
  font-weight: normal;
  justify-content: end;
  padding-right: 10rem;
}

.navBar h1 {
  padding-left: 10rem;
  font-size: 2rem;
}

.navBar nav a {
  color: white;
  text-decoration: none;
}

.navBar nav a:hover {
  color: white;
  text-decoration: underline;
}

.rooms {
  padding: 0 2rem;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: max-content;
  list-style: none;
  padding-inline-start: 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  border: 1px solid white;
  background-color: black;
  padding: 1rem;
  color: white;
}

.roomPage {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.roomDetails {
  padding: 0 2rem; 
  font-size: 1.5rem;
}

.loading {
  font-size: 2rem;
  padding: 2rem;
}

.roomFeatureList {
  margin: 0;
  display: flex;
  gap: 0.5rem;
  padding-inline-start: 0.5rem;
  margin: 0.5rem;
}

.roomFeatureList li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  width: max-content;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.createRoomForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: max-content;
  justify-content: center;
  background-color: black;
  padding: 2rem;
  border: 1px solid white;
  max-width: fit-content;
}

#addFeatureBtn {
  background: none;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  margin: 0;
}

#deleteBtn {
  padding: 0;
  font-size: 0.8rem;
  background: none;
}

.roomFeatureList li p {
  margin: 0;
}

.manageRoomsPage {
  margin: 2rem;
}

.manageRoomsContent {
  display: flex;
  justify-content: space-evenly;
}

.homePage {
  margin: 2rem;
}

.homePageContent {
  color:white;
}

.managementActions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

.bookRoomForm {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  width: min-content;
  background-color: black;
  padding: 2rem;
}

.bookingList {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: max-content;
  list-style: none;
  padding-inline-start: 0;
}

.bookingItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid white;
  background-color: black;
  padding: 1rem;
  color: white;
  width: max-content;
}

.bookingItem:hover .bookingExtras {
  display: block;
}

.bookingExtras {
  display: none;
}