.navBar {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.navBar h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.navBar nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 4rem;
}

.largeScreenNav a {
  color: #14213d;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  font-size: 1.3rem;
}

.largeScreenNav a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #14213d;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
  position: absolute;
}

.largeScreenNav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: fit-content;
}

.authInput {
  display: flex;
  flex-direction: column;
  gap: 0.5dvh;
  font-size: 1.2rem;
}

.authInput input {
  font-size: 1rem;
  padding: 0.2rem;
}

.authText {
  position: absolute;
  right: 0;
  margin: 1rem;
  color: red;
}

.authForm a {
  cursor: pointer;
  color: #14213d;
}

.authForm a:hover {
  color: #14213de3;
}

.authForm select {
  padding: 0.2rem;
  margin: 0 0 0 0.5rem;
}

#staffSelect {
  width: max-content;
}

.smallScreenNav {
  display: none;
}

#menuBtn {
  display: none;
}

#authFormStaffLabel {
  font-size: 1.2rem;
}

@media (max-width: 1100px) {
  .navBar {
    display: block;
    width: 100%;
  }
  .navBarTitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .navBarTitle h1 {
    font-size: 1.5rem;
  }
  .navBarTitle button {
    width: max-content;
    height: max-content;
  }
  #menuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .largeScreenNav {
    display: none;
  }
  .smallScreenNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #smallScreenNavLinks {
    align-items: center;
    display: flex;
    align-items: end;
    gap: 1rem;
    margin: 0.5rem 0 1.5rem 0;
    width: 100%;
    justify-content: space-around;
  }
  #smallScreenNavLinks a {
    color: #14213d;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    text-underline-offset: 0.5rem;
    font-size: 1rem;
  }
  #smallScreenNavLinks a::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.05rem;
    background-color: #14213d;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
    position: absolute;
  }
  #smallScreenNavLinks a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
  .authText {
    display: none;
  }
  .authInput {
    font-size: 1rem;
  }
  .authInput input {
    font-size: 0.9rem;
  }
  #authFormStaffLabel {
    font-size: 1rem;
  }
  .authForm button {
    width: max-content;
    align-self: center;
  }
}

@media (max-width: 365px) {
  .navBarTitle h1 {
    font-size: 1.2rem;
  }
  #smallScreenNavLinks a {
    font-size: 0.8rem;
  }
}
